// some google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Rubik&display=swap');

$nunito-font: 'Nunito', sans-serif;
$rubik-font: 'Rubik', sans-serif;
$font-stack: $rubik-font, $nunito-font, Helvetica, sans-serif;
$primary-color:darken(gray, 25);

$light-color: gray;
body {
  font: 100% $font-stack;
  color: $primary-color;
}

#app {
  display: grid;
  grid-template-columns: minmax(100px, 20%) auto 30%;
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
    "login header header"
    "addlead table addevent";
}

#login {
  grid-area: login;
}

#table {
  grid-area: table;
}

#addlead {
  grid-area: addlead;
}

#addevent {
  grid-area: addevent;
}

